@import "./defaultStyles.scss";

.dashboard {
    // border: 1px solid red;
    height: 88%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1em;
    padding: 1em 2em;

    input {
        height: 35px;
        width: 250px;
        border-radius: .3em;
        text-indent: .5em;
        margin-bottom: 1em;
    }

    .nav-icons-container {
        // border: 1px solid red;
        position: relative;
        width: 100%;
        @include flex(row);
        justify-content: flex-start;

        .cancel-icon,
        .open-icon {
            height: 30px;
            width: 30px;
            cursor: pointer;
            color: rgb(152, 6, 6);
        }
    }

    .email-verification {
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5em;
        font-family: cursive;

        .action {
            // border: 1px solid red;
            @include flex(row);
            gap: .5em;
        }

        .error-msg {
            color: rgb(239, 37, 37);
        }

        p {
            font-size: 1.125rem;
        }

        .verify-btn {
            width: 80px;
            padding: .3em 1em;
            border: none;
            background-color: red;
            border-radius: .2em;
            color: white;
            font-weight: 600;
            font-size: 1.125rem;
            text-decoration: none;
        }
    }

    .dashboard-action-section {
        // border: 1px solid red;
        position: relative;
        @include flex(row);
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1em;
        width: 100%;
        height: 100%;

        .backdrop {
            // border: 1px solid red;
            position: absolute;
            display: flex;
            align-items: flex-end;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            background-color: rgba(128, 128, 128, 0.34);

            .folder-options {
                // border: 1px solid red;
                width: 100%;
                position: relative;
                padding: .5em 1em;
                padding-top: 2em;
                z-index: 2;
                height: 60%;
                overflow-y: scroll;
                background-color: rgb(69, 68, 68);
                color: white;

                p {
                    // border: 1px solid red;
                    font-size: .8rem;
                    color: rgb(212, 210, 210);
                    font-weight: 600;
                }

                .cancel-icon {
                    // border: 1px solid red;
                    width: 30px;
                    height: 30px;
                    color: rgb(212, 210, 210);
                    position: absolute;
                    right: 0;
                    top: 2px;
                    cursor: pointer;

                }

                .selected-folder-container {
                    // border: 1px solid red;
                    @include flex(row);
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    gap: .5em;
                    padding-bottom: .3em;
                    margin-bottom: .5em;
                    border-bottom: 1px solid grey;

                    .selected-folder {
                        // border: 1px solid red;
                        font-size: 1rem;
                        font-weight: 400;
                        width: calc(100% - 30px);
                        word-wrap: break-word;
                    }

                    .file-extension {
                        // border: 1px solid red;
                        margin-right: .5em;
                        padding: .4em .2em;
                        @include flex(row);
                        background: linear-gradient(to right, rgb(184, 59, 59), rgb(25, 111, 25));

                        p {

                            font-size: .8rem;
                            font-weight: 400;
                            font-size: .6rem;
                        }
                    }
                }
            }

            .folder-options-remove,
            .folder-options-rename,
            .folder-options-share,
            .file-options-download,
            .file-options-view,
            .folder-options-move,
            .folder-options-view {
                // border: 1px solid red;
                @include flex(row);
                justify-content: flex-start;
                align-content: center;
                gap: .5em;
                margin-bottom: .5em;
                padding: .2em 0;
                cursor: pointer;
                text-decoration: none;

            }

            .folder-options-view {
                text-decoration: none;
            }

            .folder-options-remove {
                color: rgb(232, 74, 74);

                p {
                    color: rgb(232, 74, 74);
                }
            }

            .delete-icon,
            .rename-icon,
            .download-icon,
            .move-icon,
            .view-icon,
            .share-icon,
            .icon {
                // border: 1px solid red;
                width: 20px;
                height: 20px;
                color: rgb(62, 152, 62);
            }

            .delete-icon {
                color: rgb(243, 85, 85);
            }
        }

        .folder-icon {
            // border: 1px solid red;
            width: fit-content;
            height: 30px;
            width: 30px;
            margin-right: .2em;
        }

        .container {
            width: calc(100% - 200px);
            @include flex(row);
            height: 100%;
            background-color: rgb(247, 247, 247);
            // border: 1px solid red;
            min-height: 100%;
        }

        .file-section-container {
            // border: 1px solid red;
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            height: 100%;

            .empty-dashboard-text {
                // border: 1px solid red;
                width: 100%;
                text-align: center;
                color: rgb(108, 100, 100);
                font-size: 1.25em
            }

            .loader-backdrop {
                @extend .backdrop;
                @include flex(row);

                .loader-container {
                    padding: 1em 1em;
                    background-color: white;
                    width: 300px;
                    height: 150px;
                    @include flex(column);
                    text-align: center;

                    .progress-container {
                        // border: 1px solid red;
                        width: 100%;
                        background-color: rgb(239, 239, 239);
                        @include flex(row);
                        justify-content: flex-start;
                        align-items: center;
                        margin-top: .5em;

                        .progress {
                            height: 100%;
                            background-color: rgb(42, 219, 110);
                            color: black;
                            padding-block: .2em;
                            width: 0%;
                        }
                    }

                    .loader-error-text {
                        color: rgb(232, 60, 60);
                        margin-bottom: 2em
                    }

                    .loader-error-back-btn {
                        text-decoration: underline;
                    }
                }
            }

            .folder-name-container {
                @include flex(column);
                // border: 1px solid red;
                gap: 1em;
                padding: 1em 0;

                select {
                    padding: .5em 1.5em;
                    width: 100%;
                }

                .error-text {
                    // border: 1px solid red;
                    color: rgb(232, 60, 60);
                    font-size: .8rem;
                }

                .move-buttons {
                    // border: 1px solid red;
                    @include flex(row);
                    justify-content: flex-end;
                    gap: .5em;
                    width: 100%;

                    button {
                        width: 100px;
                        padding: .5em 2em;
                        font-weight: 600;
                        background: linear-gradient(to right, rgb(92, 29, 29), rgb(20, 70, 20));
                        color: white;
                        border-radius: .3em;
                        transition: color 200ms ease-in;

                        &:hover {
                            background: linear-gradient(to right, white);
                            color: black;
                            cursor: pointer;
                        }
                    }
                }

            }

            .delete-all-button,
            .move-all-button {
                // border: 1px solid red;
                margin: 1em .5em;
                padding: .5em 1em;
                width: auto;
                background: linear-gradient(to right, rgb(99, 9, 9), rgb(9, 81, 9));
                color: white
            }

            .dashboard-filename-section {
                // border: 1px solid red;
                @include flex(row);
                justify-content: flex-start;
                align-items: center;
                gap: 1em;
                width: 100%;
                padding-block: 2em;
                // background-color: rgba(231, 228, 228, 0.37);

                .new-folder {
                    @include flex(row);
                    justify-content: flex-start;
                    cursor: pointer;
                    font-size: .9rem;
                    font-weight: 500;

                    &:hover {
                        color: green;
                    }
                }

                .upload-file {
                    // border: 1px solid red;
                    position: relative;
                    width: 100px;
                    height: 30px;
                    overflow: hidden;
                    background: linear-gradient(to right, rgb(128, 18, 18), rgb(23, 100, 23));
                    color: white;
                    font-size: .9rem;
                    @include flex(row);
                    gap: .2em;
                    border-radius: .2rem;
                    cursor: pointer;

                    .folder-icon {
                        width: 25px;
                        @include flex(row);
                    }

                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        z-index: -1;
                    }
                }
            }

            .folder-tracker {
                // border: 1px solid red;
                width: 100%;
                @include flex(row);
                gap: .2em;
                justify-content: space-between;
                background-color: rgb(63, 2, 2);
                color: white;
                padding: .5em .5em;
                font-family: 'Courier New', Courier, monospace;

                .current-folder {
                    // border: 1px solid red;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .folder-back {
                    cursor: pointer;
                    background-color: green;
                    padding: .1em .2em;
                    border-radius: .2em;
                }
            }

            .dashboard-file-section {
                // border: 1px solid red;
                position: relative;
                @include flex(column);
                align-items: flex-start;
                justify-content: flex-start;
                padding-inline: 1em;
                padding-block: 1.4em;
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                background-color: white;

                .folder-file-error {
                    color: rgb(240, 89, 89);
                    text-align: center;
                    width: 100%;
                }

                .empty-folder-text {
                    width: 100%;
                    text-align: center;
                    color: rgb(132, 126, 126);
                }

                .folder-container {
                    // border: 1px solid red;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: .5em;

                    .folder {
                        // border: 1px solid red;
                        width: 90%;
                        @include flex(row);
                        justify-content: flex-start;
                        gap: .5em;
                        cursor: pointer;

                        &:hover {
                            color: green;
                        }

                        .folder-icon-container {
                            // border: 1px solid red;
                            width: 30px;
                        }

                        .folder-name {
                            width: calc(100% - 30px);
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }

                    .folder-options-button {
                        // border: 1px solid red;
                        font-size: 1.5rem;
                        cursor: pointer;
                    }
                }

                .file-container {
                    @extend .folder-container;
                    cursor: pointer;

                    p {
                        font-size: .85rem;
                    }

                    .link {
                        // border: 1px solid red;
                        text-decoration: none;
                        color: black;
                    }

                    .file {
                        border-bottom: 1px solid rgb(220, 213, 213);
                        // border: 1px solid red;
                        padding-bottom: .2em;
                        padding: .3em .3em;
                        @include flex(row);
                        justify-content: flex-start;
                        width: calc(100% - 10px);
                        gap: .5em;

                        .file-type {
                            width: 30px;
                            height: 30px;
                            @include flex(row);
                            background: linear-gradient(to right, rgb(184, 59, 59), rgb(25, 111, 25));
                            color: white;

                            p {
                                font-size: .6rem;
                            }
                        }

                        .file-details {
                            overflow-x: hidden;
                            // border: 1px solid blue;
                            @include flex(column);
                            align-items: flex-start;
                            width: calc(100% - 40px);

                            .file-name {
                                width: 100%;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                        }
                    }

                    .file-options-button {
                        font-size: 1.5rem;
                        width: 10px;
                    }
                }
            }
        }
    }

}

@media screen and(max-width:1000px) {
    .dashboard-action-section {
        .container {
            .file-section-container {
                width: 80%;
            }
        }
    }

}

@media screen and(max-width:750px) {
    .dashboard-action-section {
        .container {
            .file-section-container {
                width: 90%;

                .move-all-button {
                    margin-top: -1em;
                    padding: .5em 1em;
                    background: linear-gradient(to right, rgb(99, 9, 9), rgb(9, 81, 9));
                    color: white
                }
            }
        }
    }

}

@media screen and (max-width:"650px") {
    .dashboard {
        padding: 1em .5em;

        .dashboard-action-section {
            .container {
                width: 100%;

                .file-section-container {
                    // border: 1px solid red;
                    width: 98%;
                }
            }
        }
    }
}

@media screen and (max-width:"350px") {
    .dashboard {
        .dashboard-action-section {
            .container {
                .file-section-container {
                    .loader-backdrop {
                        width: 100%;

                        .loader-container {
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
}