.display-file-page {
    // border: 1px solid red;
    min-height: 85%;
    min-width: 100%;
    overflow-x: scroll;
    @include flex(row);
    padding: 2em 2em;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0em .5em;

    .error-msg {
        color: rgb(244, 65, 65);
    }

    .file {
        width: auto;
        height: auto;
        @include flex(row);
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
        }
    }
}