@import "./defaultStyles.scss";

.folder-backdrop {
    position: absolute;
    height: 100%;
    width: 100%;
    // border: 1px solid red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em 2em;
    @include flex(row);
    background-color: rgba(0, 0, 0, 0.749);
    z-index: 1;

    .new-folder {
        height: fit-content;
        width: 100%;
        // border: 1px solid red;
        padding: 1em 1em;
        background-color: white;
        border-radius: .2em;
        @include flex(column);
        align-items: center;
        gap: 1em;

        .folder-name-container {
            width: 100%;
            // border: 1px solid red;
            @include flex(column);
            align-items: flex-start;
            justify-content: flex-start;
            gap: .5em;

            .folder-name {
                // border: 1px solid red;
                text-align: center;
                width: 100%;
            }

            input {
                height: 35px;
                width: 300px;
                border: 1px solid grey;
                text-indent: 1em;
                font-size: 1rem;
            }

            label {
                color: rgb(76, 75, 75);
                font-weight: 500;
                font-size: .9rem;
                text-align: center;
                width: 100%;
            }
        }

        .folder-error {
            // border: 1px solid red;
            padding: 0 1em;
            text-align: center;
            font-size: .8rem;
            margin-top: -1em;
            color: rgb(225, 33, 33);
        }

        .button {
            // border: 1px solid red;
            width: 300px;
            @include flex(row);
            justify-content: flex-end;
            gap: .5em;
            padding: .5em 0;

            button {
                @include flex(row);
                width: 80px;
                padding: .5em 2em;
                font-weight: 600;
                border: none;
                background: linear-gradient(to right, rgb(116, 34, 34), rgb(46, 83, 46));
                color: white;
                cursor: pointer;
            }

            .cancel-btn {
                background: white;
                color: grey;
                border: 1px dotted rgb(104, 36, 36);
            }
        }
    }
}

@media screen and(max-width:880px) {
    .folder-backdrop {
        .new-folder {
            width: 100%;
            padding: 2em 1em;

            .folder-name-container {
                width: 100%;

                input {

                    width: 250px;
                }
            }

            .button {

                width: 250px;
            }
        }
    }
}

@media screen and(max-width:400px) {
    .folder-backdrop {
        padding: .5em;

        .new-folder {
            .folder-name-container {
                input {
                    width: 200px;
                }
            }

            .button {
                width: 200px;

                button {
                    padding: .5em 1em;
                }
            }
        }
    }
}