.forgot-password-page {
    // border: 1px solid red;
    @include flex(column);
    gap: .5em;
    margin-top: 2em;
    padding: 1em 1em;

    label {
        margin-bottom: 2em;
        text-align: center;
    }

    input {
        height: 35px;
        width: 250px;
        border-radius: .3em;
        text-indent: .5em;
        margin-bottom: 1em;
    }

    button {
        width: 80px;
        padding: .5em 0;
        background: linear-gradient(to right, rgb(11, 121, 11), rgb(136, 5, 5));
        color: white;
        border-radius: .3em;
        cursor: pointer;
    }

    .error-msg {
        color: rgb(223, 35, 35);
        text-align: center;
        margin-top: -.5em;
        font-size: .85rem;
    }
}