@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');

@import "./header";
@import "./signup";
@import "./login";
@import "./dashboard";
@import "./folder";
@import "./footer";
@import "./loader";
@import "./small-loader";
@import "./display-file-page";
@import "./user-details";
@import "./changePassword";
@import "./deleteAccount";
@import "./forgot-password";
@import "./navigation";
@import "./shareFile";
@import "./_shared-file-dash";
@import "./__file-details";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
    height: 100vh;
}

#root {
    height: 100%;
    // overflow-y: scroll;

    button {
        cursor: pointer;
    }
}